/* @import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: antiquewhite;
  text-align: center;
  overflow-x: hidden !important;
    /* font-family: "Fredoka One", cursive; */
    font-family: 'Poppins', sans-serif;
}



canvas{
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  /* left: -125px; */
  margin-inline: auto;
  max-width: 89%;
}
video{
  width: 500px;
  height: 500px;
max-width: 89%;
  margin-inline: auto;
}
@media screen and (max-width:640px) {
  canvas, video{
     padding: 0px 1rem;
  }
}
@layer components{
  .btn{
    @apply border px-5 py-3
  }
}



details {
  padding: 15px;
  background-color: #f6f7f8;
  margin-bottom: 20px;
}

summary {
  cursor: pointer;
  outline: none;
}

summary::-webkit-details-marker {
  color: #fff;
  background-color: #000;
}

summary::-webkit-details-marker {
  display: none;
}

summary:before {
  content: "\2714";
  /* the new icon */
  color: #696f7c;
  margin-right: 5px;
}

summary:before {
  content: "\25B8";
  /* unicode character of the litle triangle  */
  color: #000;
  margin-right: 5px;
}