@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: antiquewhite;
  text-align: center;
  overflow-x: hidden !important;
    font-family: "Fredoka One", cursive;
}

@layer components{
  .btn{
    @apply border px-5 py-3
  }
}

#btPic {
  margin: 2rem;
}

#camera {
  margin-top: 2rem;
  box-shadow: 0 35px 20px #777;
}

details {
  padding: 15px;
  background-color: #f6f7f8;
  margin-bottom: 20px;
}

summary {
  cursor: pointer;
  outline: none;
}

summary::-webkit-details-marker {
  color: #fff;
  background-color: #000;
}

summary::-webkit-details-marker {
  display: none;
}

summary:before {
  content: "\2714";
  /* the new icon */
  color: #696f7c;
  margin-right: 5px;
}

summary:before {
  content: "\25B8";
  /* unicode character of the litle triangle  */
  color: #000;
  margin-right: 5px;
}